.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 11px;
}

.selectedConversation {
  background-color: rgb(225, 225, 225);
}

.conversation:hover {
  background-color: rgb(225, 225, 225);
}

.conversationImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.conversationName {
  font-weight: 500;
}
