.share {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
  padding: 10px;
}

.shareForm {
  display: block;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareDesc {
  margin-left: 10px;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 80%;
  font-size: 17px;
}

.shareImage {
  margin-left: 10px;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 15px 10px 15px 10px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareOptionTextFade{
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #f50057;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.announceButton{
  background-color: #1976d2 !important;
}

.applicationButton{
  background-color: #ff712a !important;
}

.jobBanner{
  background-color: #ff712a;
}

.alert-text {
  color: #fe2f75;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}