.registerContainer {
  background-color: #fff2f4;
  position: absolute;
  height: 100%;
  width: 100%;
}

.registerWrapper {
  background-image: url("../../assets/bg-register.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
}
